<!Doctype html>
<html lang="ko">
    <head>
        <title>KGC인삼공사 지니어스 마케팅 챌린지</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
        <meta name="author" content="univEBIZ_ZOoOe">
        <meta name="keywords" content="지니어스, KGC인삼공사, 대학생, 마케팅, 멘토링">
        <meta name="description" content="2021 GinIus Spin off- 지니어스 5기 성장형 공모전">

        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:site_name" content="" >
        <meta property="og:title" content="KGC인삼공사 지니어스 마케팅 챌린지">
        <meta property="og:description" content="2021 GinIus Spin off- 지니어스 5기 성장형 공모전">
        <meta property="og:image" content="../../content/images/share.png">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="315">
        
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="">
        <meta property="twitter:title" content="KGC인삼공사 지니어스 마케팅 챌린지">
        <meta property="twitter:description" content="">
        <meta property="twitter:image" content="./../content/images/share.png">

        <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.ico"> <!-- Chrome, Safari, IE -->
        <link rel="icon" type="image/png" href="../../content/images/favicon.png"> <!-- Firefox, Opera -->

        <link href="../../content/styles/style.css" rel="stylesheet">
        <link href="../../content/styles/content.css" rel="stylesheet">

        <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        <!-- header START -->
        <header>
            <div class="grid1380">
                <h1 class="hd-logo-wrap">
                    <a href="index.html" id="hdLogo">
                        <img src="../../content/images/common/header-logo.png" alt="KGC인삼공사 | 지니어스 마케팅 챌린지 로고 이미지" class="pc-show">
                        <img src="../../content/images/common/header-logo-mo.png" alt="KGC인삼공사 로고 이미지" class="pad-show mo-show">
                    </a>
                </h1> <!-- //logo -->
                <nav>
                    <ul class="nav-menu-list flex-box flex-spc__end flex-align__cnt">
                        <li><a href="about.html" class="nav-menu">소개</a></li>
                        <li><a href="applyGate.html" class="nav-menu">지원/확인</a></li>
                        <li><a href="noticeList.html" class="nav-menu">공지/문의</a></li>
                    </ul>
                </nav> <!-- //nav -->
            </div> <!-- //grid -->
        </header>
        <!-- //header END -->
        <!-- sub START -->
        <div class="sub-hd-area">
            <div class="grid1380">
                <h2 class="sub-hd-tit">개인정보처리방침</h2>
            </div>
        </div>
        <div class="sub-cont-area">
            <div class="grid1380">
                <div class="policy-wrap">
                    <p class="policy-txt fs20">이용자의 개인정보를 중요시하며, 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」, 「개인정보보호법」을 준수하기 위하여 노력하고 있습니다.<br>사무국은 개인정보처리방침을 통하여 사무국이 이용자로부터 제공받은 개인정보를 어떠한 용도와 방식으로 이용하고 있으며, 개인정보보호를 위해 어떠한 조치를 취하고 있는지 알려드립니다.<br><br>이 개인정보처리방침은 2021년 3월 31일부터 시행됩니다.<br>사무국은 본 개인정보처리방침을 변경(내용의 추가, 삭제 또는 정정)할 경우 해당, 적용일자 및 변경 사유를 웹사이트에 명시하여 그 적용일자 7일 이전부터 적용일자 전일까지 공지하는 방법으로 회원에게 통지합니다.</p>
                </div>
                <dl class="policy-wrap">
                    <dt class="policy-hd-tit fs30">1. 개인정보의 수집 · 이용 목적 / 기간 / 수집 거부의 권리</dt>
                    <dd>
                        <table class="fs18 mt0 mb0 policy-tbl">
                            <colgroup>
                                <col class="w-pct__33">
                                <col class="w-pct__33">
                                <col class="w-pct__33">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>수집/이용 목적</th>
                                    <th>수집 항목</th>
                                    <th>보유 기간</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="txt-cnt">당첨자 확인 및 라벨 발송</td>
                                    <td class="txt-cnt">이름, 휴대전화, 주소</td>
                                    <td>이벤트 종료 후 이벤트 당첨자 확인 및 응대 / 라벨 발송을 위해 당첨자 발표 후 60일간 보관 후 파기</td>
                                </tr>
                            </tbody>
                        </table>
                    </dd>
                </dl>
                <dl class="policy-wrap">
                    <dt class="policy-hd-tit fs30">2. 개인정보 처리의 위탁 · 제3자 제공</dt>
                    <dd>
                        <p class="policy-txt fs20">사무국은 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 위탁하고 있습니다.<br>사무국은 위탁계약 체결 시 정보통신망법 제25조 및 개인정보 보호법 제26조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적·관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리·감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.<br>사무국은 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체 없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.</p>
                        <table class="fs18 mb0 policy-tbl">
                            <colgroup>
                                <col class="w-pct__50">
                                <col class="w-pct__50">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>수탁사</th>
                                    <th>업무 내용</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="txt-cnt">대학내일</td>
                                    <td class="txt-cnt">이벤트 시스템 운영, 고객상담, 라벨 발송</td>
                                </tr>
                            </tbody>
                        </table>
                    </dd>
                </dl>
                <dl class="policy-wrap">
                    <dt class="policy-hd-tit fs30">3. 개인정보의 파기 절차 및 파기방법</dt>
                    <dd>
                        <p class="policy-txt fs20">사무국은 개인정보 보유기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체 없이 해당 개인정보를 파기합니다. 개인정보 파기절차 및 방법은 다음과 같습니다.</p>
                        <strong class="policy-sub-tit fs22">1) 파기절차</strong>
                        <p class="policy-txt fs20">이용자의 개인정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기됩니다. 별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유되는 이외의 다른 목적으로 이용되지 않습니다.</p>
                        <strong class="policy-sub-tit fs22">2) 파기방법</strong>
                        <p class="policy-txt fs20">전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.<br>종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.</p>
                    </dd>
                </dl>
            </div>
        </div>
        <!-- //sub END -->
        <!-- footer START -->
        <footer>
            <div class="grid1380">
                <div class="ft-cont flex-box flex-align__cnt">
                    <p class="ft-info fs14">[운영사무국] 04156 서울특별시 마포구 독막로 331 (도화동, 마스터즈타워빌딩) / Tel 02-6958-1962<br>COPYRIGHT(C) Korea Ginseng Corp. ALL RIGHTS RESERVED.</p>
                    <a href="privacy.html" class="ft-btn fs14">개인정보처리방침</a>
                </div>
            </div>
        </footer>
        <!-- //footer END -->
        <script src="../../content/scripts/common.js"></script>
    </body>
</html>